<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BOUKI APP">

	<listeners>
		<listener class-name="P02_Listeners.TestListeners"></listener>
	</listeners>
	
	<test thread-count="5" name="Android">
		<parameter name="deviceName" value="AhmedM"></parameter>
	    <parameter name="platformName" value="Android"></parameter>
		<parameter name="platformVersion" value="13"></parameter>	
	  
	 	<classes>
			<!--
			<class name="P01_Testcases.Send_Money"></class>	
			<class name="P01_Testcases.Wallet"></class>
			<class name="P01_Testcases.Add_Money"></class>
			<class name="P01_Testcases.Froget_Pass_Code"></class>
			<class name="P01_Testcases.Add_Beneficiaries"></class>
			<class name="P01_Testcases.Settings"></class>
			<class name="P01_Testcases.Alias_Management"></class>
			<class name="P01_Testcases.Regression"></class>
			-->        
	 		<class name="P01_Testcases.Regression"></class>
	 	</classes>
	</test> 
	
</suite> 	


